ReWriteEngine On

ReWriteRule ^about$                 about.php                   [L]
ReWriteRule ^login$                 login.php                   [L]
ReWriteRule ^register$              register.php                [L]
ReWriteRule ^student-dashboard$     student-dashboard.php       [L]
ReWriteRule ^forget-password$       forget-password.php           [L]
ReWriteRule ^student-logout$                student-logout.php           [L]
ReWriteRule ^student-reset-password$                student-reset-password.php           [L]
ReWriteRule ^student-profile$                student-profile.php           [L]
ReWriteRule ^instructor-dashboard$                instructor-dashboard.php           [L]
ReWriteRule ^instructor-logout$                instructor-logout.php           [L]
ReWriteRule ^instructor-profile$                instructor-profile.php           [L]
ReWriteRule ^instructor-course-create$                instructor-course-create.php           [L]
ReWriteRule ^instructor-courses$                instructor-courses.php           [L]
ReWriteRule ^instructor-course-edit/(.*)$/?$                instructor-course-edit.php?id=$1           [L]
ReWriteRule ^instructor-course-edit-basic/(.*)$/?$                instructor-course-edit-basic.php?id=$1           [L]
ReWriteRule ^instructor-course-edit-featured-photo/(.*)$/?$                instructor-course-edit-featured-photo.php?id=$1           [L]
ReWriteRule ^instructor-course-edit-featured-banner/(.*)$/?$                instructor-course-edit-featured-banner.php?id=$1           [L]
ReWriteRule ^instructor-course-edit-featured-video/(.*)$/?$                instructor-course-edit-featured-video.php?id=$1           [L]
ReWriteRule ^instructor-course-edit-curriculum/(.*)$/?$                instructor-course-edit-curriculum.php?id=$1           [L]